center
  h1(class='title') Bluedit!
  button#homeB(type='button', class='direct', onclick='myFunction()') Home
  button#loginB(type='button', class='direct', onclick='myFunction()') Login
  button#signupB(type='button', class='direct', onclick='myFunction()') Signup
  button#postsB(type='button', class='direct', onclick='myFunction()') Posts
