extends layout.pug
block content
  body
    form(action = '/user-post', method = 'POST', class='shape')
      div
        label(for='name') Name: 
        input#name.form-control(type='text', placeholder='Your name' name='name')
      div
        label(for='message') Message: 
        textarea(class='form-control', rows='4', cols='50' name='message')
        br
        center
          button(type='submit') Post
